<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891866348671-0d97lve47dci5dhekp00hhe7qlevj554.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891866348671-0d97lve47dci5dhekp00hhe7qlevj554</string>
	<key>API_KEY</key>
	<string>AIzaSyCnk0QR4gpiOuXOuhSG-oDz1CUef0Qm6Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>891866348671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stressedOut</string>
	<key>PROJECT_ID</key>
	<string>capstone-d2282</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-d2282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891866348671:ios:9383e1987145279dab534a</string>
</dict>
</plist>